name: Build and Release APK

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Rename APK
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/AndroGoat.apk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AndroGoat-APK
          path: app/build/outputs/apk/debug/AndroGoat.apk

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download APK Artifact
        uses: actions/download-artifact@v4
        with:
          name: AndroGoat-APK

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: AndroGoat-debug.apk
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false